body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #159957, #155799);
}

h1 {
  font-size: 5rem !important;
  color: bisque !important;
  text-align: center !important;
}
